@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;500&display=swap');
body {
    padding: 0;
    margin: 0;
}


h1, h2, h3 {
    font-family: poppins, sans-serif;
    font-weight: 800;
    margin: 0;
}

body, p, li {
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #B19A7B;
}


#main {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.summary {
    width: 50vh;
    margin-left: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.proj_grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.proj_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1rem;
    padding: 1rem;
    background-color: #F2EFE9;
    border-radius: 1rem;
    height: auto;
}
.proj_card img{
    width: 80%;
    padding-bottom: 1rem;
}

.proj_card .tech_list{
    justify-self: end;
    font-size: .8rem;
}





/*@media (max-width: 600px) {*/
/*    .title {*/
/*        backdrop-filter: blur(20px);*/
/*    }*/
/*    .content{*/
/*        width: 90%;*/
/*    }*/
/*}*/