@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;500&display=swap');
body {
    padding: 0;
    margin: 0;
}


h1, h2, h3 {
    font-family: poppins, sans-serif;
    font-weight: 800;
    margin: 0;
}

body, p, li {
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

/*.banner{*/
/*    background-image: url("assets/banner4.png");*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*    align-items: flex-start;*/
/*}*/

.banner img{
    width: 100%;
}
.title {
    color: white;
    text-shadow: 2px 2px 4px #000;
    /*backdrop-filter: blur(10px);*/
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.resume {
    margin-top: 2rem;
}

.subtitle {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.about{
    align-items: center;
    text-align: center;
    width: 40%;
    gap: 1rem;
}

.profilePic {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
}



@media (max-width: 600px) {
    .title {
        backdrop-filter: blur(20px);
    }
    .content{
        width: 90%;
    }
}